<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<!DOCTYPE html>
<html>
<head>
<style>
.floating-box {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
    ##border: 3px solid #73AD21;
}

.after-box {
    clear: left;
  ##border: 3px solid red;
}
</style>
</head>
<body>

<h1>Merchant Analytics</h1>
<p>Products: </p>

<% @products.each do |prod| %>
  <div class="floating-box">
  	<img src=<%= prod.images[0].src %> alt="Mountain View" style="width:150px;height:150px;">
  </div>

  <div class="floating-box">
  		<% if @wishlist[prod.id] %>
        <p>Averge wish price: <%= sprintf('%.2f', @wishlist[prod.id][:averageWishPrices]) %></p>
        <p>Number of wishes: <%= @wishlist[prod.id][:count]%></p>
      <% else %>
        <p>No wishes yet.</p>
      <% end %>
  </div>
<% end %>

</body>
</html>
